 body {
  background-color: #62427e; 
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: #c4a276;
}

h1 {
  font-family: "Creepster", cursive;
  font-size: 600%;
  color: #ffb347;
  text-align: center;
  margin-top: 70px;
  text-shadow: 2px 2px 5px #000;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin: 100px auto;
  width: 80%;
  max-width: 1000px;
}


.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3c1e54;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.39);
}

.block {
  background-color: #320e49;
  border-radius: 20px;
  width: 90%;
  margin: 20px 0;
  padding: 20px;
  text-align: center;
  box-shadow: inset 0 0 10px rgba(255,255,255,0.1);
}



h2 {
  color: #c59b45;
  margin-bottom: 10px;
  text-shadow: 1px 1px 3px #000;
  font-family: "Creepster", cursive;
   font-size: 50px;
}

p {
  font-size: 27px;
}

footer {
  background-color: #3c1e54;
  text-align: center;
  padding: 15px;
  font-size: 0.9rem;
  color: #ffcc66;
  margin-top: 50px;
}

.icon {
  width: 30%;
  height: auto;
  margin: 10px;
}

.icon1 {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  
}

.print{
     background-color: #2d123e;
  border-radius: 20px;
  width: 10%;
  margin: 20px 0;
  padding: 20px;
}

.h3{
    font-size: 20px;
}
.galho {
  display: flex;
  align-items: center;
  background-color: #3c1e54;
 width: 800px;
}

.teia{
    position: absolute;
    left: 1px;
    width:40%;
    margin-top: -70px;
    z-index: -99;
}

.teia2{
    position: absolute;
    right: 1px;
    width:40%;
    margin-top: -70px;
    z-index: -99;
}
